<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Libra社区</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/bootstrap-theme.css">
    <link rel="stylesheet" href="/css/community.css">

    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/community.js"></script>
    <script src="/js/bootstrap.js" type="application/javascript"></script>

</head>
<body>
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
    <span></span>
    <div class="popover fade bottom" role="tooltip" style="top: -0.00763893px; left: 349.294px; display: block;">
        <div class="arrow"></div>
        <h3 class="popover-title"></h3>
        <div class="popover-content"></div>
    </div>
    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover"
            data-placement="bottom" data-content="<a>dsdsdas</a>">

        Popover on 底部
    </button>

    <button type="button" class="btn btn-lg btn-danger" data-toggle="popover" title="Popover title"
            data-content="And here's some amazing content. It's very engaging. Right?">点我弹出/隐藏弹出框
    </button>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                aria-haspopup="true" aria-expanded="true" onclick="show()">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1" id="dropdownTag">
            <li><a href="#">Action</a></li>
        </ul>
    </div>

    <div class="dropdown">
        <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                aria-haspopup="false" aria-expanded="true">
            Dropdown
            <span class="caret"></span>
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
            <li><a href="#">Action</a></li>
        </ul>
    </div>

    <div class="tag-nav-publish" >
        <!-- Nav tabs -->
        <ul class="nav nav-pills " role="tablist">
            <li role="presentation" class="active"><a href="#tagFrontEnd" aria-controls="tagFrontEnd" role="tab" data-toggle="pill">前端</a></li>
            <li role="presentation"><a href="#tagBackEnd" aria-controls="tagBackEnd" role="tab" data-toggle="pill">后端</a></li>
            <li role="presentation"><a href="#tagMobile" aria-controls="tagMobile" role="tab" data-toggle="pill">移动端</a></li>
            <li role="presentation"><a href="#tagDatabase" aria-controls="tagDatabase" role="tab" data-toggle="pill">数据库</a></li>
            <li role="presentation"><a href="#tagOperations" aria-controls="tagOperations" role="tab" data-toggle="pill">运维</a></li>
            <li role="presentation"><a href="#tagAI" aria-controls="tagAI" role="tab" data-toggle="pill">人工智能</a></li>
            <li role="presentation"><a href="#tagTool" aria-controls="tagTool" role="tab" data-toggle="pill">工具</a></li>
            <li role="presentation"><a href="#tagOther" aria-controls="tagOther" role="tab" data-toggle="pill">其他</a></li>
        </ul>
        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane fade active" id="tagFrontEnd">
                <a class="label label-primary">Primary</a>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="tagBackEnd">2</div>
            <div role="tabpanel" class="tab-pane fade" id="tagMobile">3</div>
            <div role="tabpanel" class="tab-pane fade" id="tagDatabase">4</div>
            <div role="tabpanel" class="tab-pane fade" id="tagOperations">1</div>
            <div role="tabpanel" class="tab-pane fade" id="tagAI">2</div>
            <div role="tabpanel" class="tab-pane fade" id="tagTool">3</div>
            <div role="tabpanel" class="tab-pane fade" id="tagOther">4</div>
        </div>
    </div>
</div>
</body>
</html>

<script>
    function show() {
        let tag = $("#dropdownTag");
        let dropDown = $(".dropdown");
        if (tag.is('.show')){
            tag.removeClass('show');
        } else {
            tag.addClass('show');
        }
        $(document).on('click', function(e){
            // 方法1
            //    if($(':not(.pop)')){
            //      pop.hide();
            //    }
            // 方法2
            if(!dropDown.is(e.target) && dropDown.has(e.target).length === 0){
                tag.removeClass('show');
            }
        });
    }

</script>